{
  "rocon_gateway_port": 10602,
  "legacy_flower_server_url": "http://{{ gateway_docker_flower_public_hostname }}:5555",
  "legacy_concert_server_url": "http://{{ gateway_docker_scheduler_public_hostname }}:8887",
  "legacy_expose_server_url": "http://{{ gateway_docker_rostful_public_hostname }}:8080",
  "rocon_reporter_url": "http://{{ gateway_docker_reporter_public_hostname }}:10603"
}
